.slider-owl.owl-carousel
  .item
    h2 Слайд 1
    div text text text text text text text text text text text 
  .item
    h2 Слайд 2
    div text text text text text text text text text text text 
  .item
    h2 Слайд 3
    div text text text text text text text text text text text 
  .item 
    h2 Слайд 4
    div text text text text text text text text text text text 