.slider-owl {
  height: 300px;
  background: $grayColor;
}

.owl-prev,
.owl-next {
  @include positionElement(30px, 30px, auto, 50%);
  margin: 0;
  font-size: 0;
}

.owl-prev {
  left: 0;
  @include bgImageEl("../images/nav-prev-white.png");
}

.owl-next {
  right: 0;
  @include bgImageEl("../images/nav-next-white.png");
}

.owl-dots {
  @include positionElement(100%, auto, auto, 30px, left, bottom);

  .owl-dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid $blackColor;
    margin: 10px;
    cursor: pointer;

    &:hover,
    &.active {
      background: $blackColor;
    }
  }
}