$blackColor: #131313;

$grayColor: #353535;

$whiteColor: #ffffff;

$redColor: #f25368;

$blueColor: #00a1ff;

$yellowColor: #D4AF93;

$orangeColor: #cf5d1e;

$grayColorSecond: #EFEFEF;

$standartSize: 16px;
$standartSizePlus: 18px;
$middleSize: 32px;
$largeSize: 48px;