doctype html
html
	body
		// head
		include default/head.pug 
		// head

		// header
		include default/header.pug
		// header
		
		.content-area
			.top-area
				img.ta-bg(src="../images/2.jpg")
				h2 О ВЫСОКИХ МАТЕРИЯХ
			.bottom-area
				.double-topic-container
					h2.double-topic
						span Частный интерьер
						i
						span О высоких материях
				.main-grid
					.ba-text.right-text Пентхаус — отличное решение для тех, кто хочет вырваться из обыденности многоквартирных домов, при этом не покидая центр города. Команда архитектурного бюро «YURAKULIKOV» вновь воплотила в жизнь интерьер, который сделал пентхаус жилого комплекса «Клевер» точкой, балансирующей на границе между городским пейзажем и природным колоритом. Если дом — крепость, то пентхаус можно сравнить с воздушным замком двадцать первого века. Наличие величественной городской панорамы, казалось бы, диктует строгие урбанистические правила, но всё же именно дерево стало ключевым элементом интерьера, а обилие света, пробивающегося сквозь окна, лишь подчеркивает его. Паркетное покрытие, деревянные панели на стенах, мебель (ни одного стула — только деревянные скамьи), лестница — на натуральных материалах держится весь атриум.
				+content-gallery("../images/2.jpg")
				.main-grid
					.ba-text.left-text Органичным связующим звеном между городом и природой выступают керамогранитные панели в кухонной зоне, потолочный бетон и искусственный камин. Даже светильники-шары Random Light II представляют собой симбиоз противоположностей, построенный на сочетании естественной нежности, легкости тысячи нитей и простой электрической лампочки внутри них.
				+content-gallery("../images/2-1.jpg")
				.main-grid
					.ba-text.right-text Обширное пространство еще больше увеличивается при помощи зеркал, стекол, белизны и отраженного света. Зоны разделены при помощи стеклянных перегородок — именно так одна из ванных комнат отделена от спальни, расположенной на втором уровне пентхауса.
				+content-gallery("../images/2.jpg")
				.main-grid
					.ba-text.left-text Спальня — оплот спокойствия и безмятежности. Стены и пол оформлены досками, навевая воспоминания о загородном доме. Необычная кровать составлена из разноразмерных подушек и матраса — никаких ограничений, только уют. Одну из стен полностью заменяет городская панорама: с таким видом, особенно ночью, не нужен никакой телевизор.
				.main-grid
					.masonry-container
						img(src="https://picsum.photos/500/300?random=1")
						img(src="https://picsum.photos/500/600?random=2")
						img(src="https://picsum.photos/500/600?random=2")
						img(src="https://picsum.photos/400/300?random=3")
						img(src="https://picsum.photos/600/300?random=4")
						img(src="https://picsum.photos/400/300?random=5")
				.main-grid
					.ba-text.left-text
						h2 Комплектация
						div Мебель — «Милан» . Свет, инженерная доска, керамогранит — «Азбука дома». Сантехника, смесители — «Кредит Керамика» . Двери — «Minimal doors».